:root {
  --fg-black: #666666;
  --bg-conversation: #607d8b;
  --bg-conversation-new: #8bc34a;
  --fg-notification: #8bc34a;
}

table
{
  max-width:80%;
  min-width:80%;
}

.well-sm
{
  color:var(--fg-black);
}

body
{
  background-image: url("background.png");
  background-repeat: repeat;
  min-width:600px;
  max-width:760px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  z-index:1;
}

code
{
font-size:75%;
}

td, th
{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.errors 
{
  padding:-5px;
  margin :-5px -5px -5px -5px;
  font-size:75%;
}


#conversations,#messages
{
  color:var(--fg-black);
  padding:5px;
}

#conversation-container
{
  max-height:600px;
  overflow:auto;
  background-color:var(--bg-conversation);
  border-radius: 10px;
}

#conversation-container > a
{
  color:white;
}

.message_container
{
  word-break: break-all;
  border-radius: 10px;
  margin:5px;
  color:var(--fg-black);
}

div[id*="conversation_"]
{
  color:white;
  visibility: visible;
  background-color:var(--bg-conversation);
  z-index:2;
  margin:5px;
  padding:5px;
  border-radius: 10px;
}

div[id*="conversation_"].has-new-message
{
  color:white;
  visibility: visible;
  background-color:var(--bg-conversation-new);
  z-index:2;
  margin:5px;
  padding:5px;
  border-radius: 10px;
}

div[id*="conversation_"]>a
{
  color:white;
}

.avatar_message
{
  border-radius: 10%;	
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 10px;
  margin-top:2px;
}

.popover-content,.popover-title
{
  color:var(--fg-black);
}


.current_avatar
{
  width:42px;
  height:42px;
}

.add_user_form
{
  color:var(--fg-black);
}

#avatar,#profile_form > #submit
{
  display:none;
  position:fixed;
}

#profile_form
{
  display:inline;
}

#reply_container, #messages
{
  color:var(--fg-black);
}

a[class*="link_to_conversation"]
{
  text-decoration-line:none;
  text-decoration-style:solid;
  text-decoration-thickness:auto;
}

a[class*="link_to_conversation"]>*:hover
{
  color:rgb(51,51,51);
  opacity:0.7;
}
#content {
  resize:none;
}
.new-message-count
{
  color:var(--fg-notification);
}
a
{
 cursor:pointer; 
 padding-left: 10px;
}

#api-help

{
  color:black;
}
