#form-center
{
max-width:500px;
min-width:500px;
margin-left: auto;
margin-right: auto;
text-align: right;
}
table
{
max-width:80%;
min-width:80%;
}

body
{
min-width:600px;
max-width:760px;
margin-left: auto;
margin-right: auto;
}
td, th
{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.errors 
{
padding:-5px;
margin :-5px -5px -5px -5px;
font-size:75%;
}

.desc
{
max-width:350px;
}


#conversations,#messages
{
padding:5px;
}

#conversation_container
{
max-height:600px;
overflow:auto;
}

#message_container
{
word-break: break-all;
border-radius: 10px;
margin:5px;
color:#666666;
}

div[id*="conversation_"]
{
color:white;
background-color:LightSteelBlue;
margin:5px;
padding:5px;
border-radius: 10px;
}

#avatar_message
{
border-radius: 10%;	
width: 48px;
height: 48px;
float: left;
margin-right: 10px;
margin-top:2px;
}

#link_to_conversation
{
text-decoration:none;
}

.popover-content,.popover-title
{
color:#666666;
}



#current_status
{
	position:relative;
	color:#666666;
	margin-left:20px;
	z-index: 1;
}

#current_avatar
{
float:left;
margin-top:-5px;
width:28px;
height:28px;
}

#profile_form
{
	position:absolute;
	float:left;
	margin-top:-5px;
	margin-left:40px;
	margin-bottom:5px;
}

#profile_form #about_me
{
	resize: none;
	float:left;
	opacity:0.5;
	z-index: 2;
}

#profile_form #avatar,#profile_form #submit
{
display:none;
}
