{% extends "parent.html" %} {% block app_content %}
<div class="container">
		<div class="row">
    <div class="col-sm-4">
	<div class="well well-sm">
  Username: {{ current_user.username }}
	<p>	
	{%if current_user.avatar_name %}<img class="avatar" src="{{current_user.get_avatar_path()}}">{%else%}<img class="avatar" src="/../static/avatars/default.png"> {%endif%}
	</p>
	<p>
	{%if current_user.about_me %}About me: {{current_user.about_me }}{%else%}No description available{%endif%}
	</p>
	<small> last seen on: {{current_user.last_seen_clean()}}</small>
	<small><a href={{url_for('main.edit',username=current_user.username)}}>Edit</a></small>
</div>
</div>
</div>
{% endblock %}
