 {% extends "parent.html" %}
 {% block app_content %}
 <caption align="top">
    <h2>List of Users</h2>
</caption>
		 <table class="table">
    <thead>
        <tr class="">
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>Confirmed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
	    <td>{% for role in user.roles %}{{role.name}}{% endfor %}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.confirmed}}</td>
            <td><a href={{ url_for('.delete', username=user.username) }}>Delete</a> <a href={{ url_for('.edit', username=user.username) }}>Edit</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
