{% extends "parent.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
	{%for message in messages %}
	<div class="well well-sm">
	{%if current_user.username == message.recipient.username %}
			<div> From: {{message.author.username}}</div>
				<p> {{message.body}}</p>
				 <a href="{{url_for('auth.send_message',username=message.author.username)}}", align="left">Reply</a>
				<small> {{moment(message.timestamp).format('LLL')}}</small>
			{%else %}
			<div> To: {{message.recipient.username}}</div>
				<p> {{message.body}}</p>
				 <a href="{{url_for('auth.send_message',username=message.recipient.username)}}", align="left">Reply</a>
				 <small> {{moment(message.timestamp).format('LLL')}}</small>
		{%endif%}
	</div>
	{%endfor%}
	{%if prev_url %}<a href={{prev_url}}>Previous</a>{%endif%}
		{%if next_url %}<a href={{next_url}}>Next</a>{%endif%}
		<hr>
	<div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
	</div>
	</div>
	</div>
{% endblock %}    
