{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %} simpleMessenger {% endif %}
{% endblock %}

<head>

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
   {% endblock %}
</head>

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="nav navbar-nav navbar-left">
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a href={{url_for('main.conversations' )}} class="nav-link">My conversations
          <span class="new-message-count has-new-message"></span></a>
      </li>
      {%else%}
      <li class="nav-item">
        <a href="{{url_for('auth.login')}}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span></a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('auth.register')}}" class="nav-link">Register</a>
      </li>

      {%endif%}
      {% if current_user.is_role(role_name='Admin') %}
      <li class="nav-item">
      	<a class="nav-link" href="{{url_for('restricted.showall')}}">Admin panel</a>
      </li>
      {%endif%}
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">API
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('api.help_api')}}" title="Get details on API.">API Help</a> </li>
          <li><a href="{{url_for('auth.register_oauth')}}" title="Get your API access">Get Access</a></li>
          <li><a href="{{url_for('auth.get_oauth_clients')}}" title="See all your apps">My clients</a></li>
        </ul>
    </li>
  </ul>
    {% if current_user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="navlink"><span class="glyphicon glyphicon-user"></span> {{current_user.username}}  </a>
      </li>

      <li class="nav-item">
        <a href="{{url_for('auth.logout')}}" class="nav-link" title="Log out!"><span class="glyphicon glyphicon-log-out"></span></a>
      </li>
          </ul>
    {%endif%}
  </div>
</nav>
{% endblock %}

{% block content %}
	<link href="/static/styles.css" rel="stylesheet">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
	<script src="//getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="/static/script.js"></script>
        	{# application content needs to be provided in the app_content block #}
	{%block app_content%}{%endblock%}
{% endblock %}

</body>


