{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %} SimpleMessenger {% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="nav navbar-nav">
{% if current_user.is_authenticated %}
      <li class="nav-item">
      	<a href={{url_for('auth.showprofile' )}} class="nav-link">My profile</a>
      </li>
      <li class="nav-item">
      	<a href={{url_for('auth.messages' )}} class="nav-link">My messages</a>
      </li>
      <li class="nav-item">
    <a href="{{url_for('auth.logout')}}" class=nav-link">Logout</a>
      </li>
      {%else%}
      <li class="nav-item">
      <a href="{{url_for('auth.register')}}" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
      	<a href="{{url_for('auth.login')}}" class="nav-link">Login</a>
      </li>
      {%endif%}
      {% if current_user.is_role(role='Admin') %}
      <li class="nav-item">
      	<a class="navlink "href={{url_for('restricted.showall')}}>Admin panel</a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
	{%block app_content%}{%endblock%}
  </div>
{% endblock %}
